<div class="wrapper">

    <!-- header -->
    <header class="header ">
      <div class="header-inner">
        <h1 class="header-logo">
          <a href=".">YUICHIRO　PORTFOLIO</a>
        </h1>
        <nav class="header-nav">
          <ul class="header-nav-list">
            <li class="header-nav-item"><a href="#works">Design</a></li>
            <li class="header-nav-item"><a href="#skill">APP</a></li>
            <li class="header-nav-item"><a href="#contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- /header -->

    <main class="content">

      <!-- split -->
      <div class="split">
        <div class="split-body">
          <p class="split-title">YUICHIRO<br>WATANABE</p>
          <p class="split-text">
            ユーザーとお客様が心から満足できるサイトをお作りいたします。<br>
            山形県生まれ。<br>
            ４年間生保事務業務に従事、現職。副業ライター。
          </p>
        </div>
        <div class="split-img"></div>
      </div>
      <!-- /split -->

      <!-- works -->
      <section class="works section" id="works">
        <div class="inner">
          <h2 class="title">Design</h2>
          <div class="works-list">
            <div class="works-item">
              <%= link_to image_tag("logo.png", class:"google-btn"), new_post_path %>
              <p class="works-name">time-lock　banner</p>
              <p class="works-info">Design / banner</p>
            </div>
            <div class="works-item">
              <%= image_tag "ogp.png", class:"list-pict" %>
              <p class="works-name">time-lock　banner</p>
              <p class="works-info">Design / banner</p>
            </div>
            <div class="works-item">
              <%= image_tag "time-lock3.png", class:"list-pict" %>
              <p class="works-name">time-lock　logo</p>
              <p class="works-info">Design / logo</p>
            </div>
            <div class="works-item">
              <%= image_tag "logo2.jpg", class:"list-pict" %>
              <p class="works-name">Art</p>
              <p class="works-info">Design / grid Design</p>
            </div>
          </div>
        </div>
      </section>
      <!-- /works -->

      <!-- skill -->
      <section class="skill section" id="skill">
        <div class="inner">
          <h2 class="title">APP</h2>
          <div class="skill-list">
            <div class="skill-item">
              <%= link_to image_tag("time-lock3.png", class:"google-btn"), new_post_path %>
              <div class="skill-body">
                <h3 class="skill-name">ポモドーロタイマーアプリ</h3>
                <p class="skill-text"></p>
              </div>
            </div>
            <div class="skill-item">
              <%= link_to image_tag("furima-logo-color.png", class:"google-btn"), "#" %>
              <div class="skill-body">
                <h3 class="skill-name">furimaアプリ</h3>
                <p class="skill-text"></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /skill -->

      <!-- contact -->
      <section class="contact section" id="contact">
        <div class="inner">
          <h2 class="title">CONTACT</h2>
          <div class="contact-list">
          <a href="https://twitter.com/yvichrou211" class="btn-social-icon-twitter"><span class="btn-social-icon-twitter__square"><i class="fa fa-twitter"></i></span></a> 
          <p class="lead">
            お問い合わせは、<br class="sp-only">SNSにてお願いいたします。
          </p>
        </div> 
        
      </section>
      <!-- /contact -->
    </main>
    
    <div class="page-top" id="js-page-top">
      <span class="material-icons-outlined">expand_less</span>
    </div>

    <!-- footer -->
    <footer class="footer">
      <div class="copyright">&copy;YUICHIRO WATANABE</div>
    </footer>
    <!-- /footer -->